<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
    <section name="ActorSet" type="MainServer.Infrastructure.ActorSection, MainServer" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="NancyURI" value="http://localhost:29005" />
    <add key="pingFrequencyInSeconds" value="10" />
    <add key="retriesInSuperConnectedMode" value="3" />
    <add key="huelightsHubIP" value="192.168.1.150" />
    <add key="huelightsKey" value="raspberryhome" />
    <add key="huelightsscenein" value="d2c4f008f-on-0" />
  </appSettings>
  <ActorSet>
    <TheActors>
      <!-- mobile devices -->
      <add actorName="movilJavi" type="MobileActor" ip="192.168.1.145" alarmWebCams="Y" />
      <add actorName="movilEri" type="MobileActor" ip="192.168.1.160" alarmWebCams="Y" />
      <add actorName="iPad" type="MobileActor" ip="192.168.1.152" />
      <add actorName="philipsHue" type="MobileActor" ip="192.168.1.150" />
      <add actorName="prueba1" type="MobileActor" ip="192.168.1.111" />
      <add actorName="prueba2" type="MobileActor" ip="192.168.1.112" />
      
      <!-- webcam devices -->
      <add actorName="webcam" type="WebCamActor" ip="192.168.1.134" webcamport="4999" 
           webcammodel="MainServer.Infrastructure.Webcam.Foscam8918W" webcamusername="TO BE FILLED IN" webcampassword="TO BE FILLED IN" 
           pushbulletkey="TO BE FILLED IN" pushbulletDeviceToSendMessagesTo="TO BE FILLED IN" />
  </TheActors>
  </ActorSet>
</configuration>